<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>

  <h1><%= title %></h1>
  <div class="container">
    wowowowow
  </div>

  <div>
    <img class="elements" src="images/pyro_element.svg">
    <img class="elements" src="images/hydro_element.svg">
    <img class="elements" src="images/electro_element.svg">
    <img class="elements" src="images/dendro_element.svg">
    <img class="elements" src="images/cryo_element.svg">
    <img class="elements" src="images/anemo_element.svg">
    <img class="elements" src="images/geo_element.svg">
  </div>

  <div>
    Source: <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRq-sQxkvdbvaJtQAGG6iVz2q2UN9FCKZ8Mkyis87QHFptcOU3ViLh0_PJyMxFSgwJZrd10kbYpQFl1/pubhtml#">Genshin Help</a>
  </div>
    
</body>
</html>
